
.main{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    padding: 10px;
}   

form{
    width: 400px;
    height: 450px;
    padding: 10px;
    
}

.lbl{
    width: 180px;
}

.line{
    width: 350px;
}

a{
    text-decoration: none;
    color: black;
}

.brt-inp{
    width: 50px;
}